/* filter tooltip*/

.tooltipfilter {
  position: relative;
  display: inline-block;
}

.tooltipfilter .tooltiptextfilter {
  font-family:'karla';
  font-weight:700;
  font-size:10px;
  text-transform:uppercase;
  color: var(--main-txt-color);
  background-color:var(--second-txt-color);
  text-align:center;
  visibility: hidden;
  height:10px;
  border-radius: 30px;
  top: 0%;
  left:120%;
  opacity: 0;
  transition: opacity 1s;
  padding-bottom:10px;
  border:1px solid var(--border-color);
  z-index:9999999;
}

.tooltiptextfilter {
  width: max-content; 
  max-width: 200px;
  position: absolute;
  padding: 10px;
  z-index: 9999;
}

.tooltipfilter:hover .tooltiptextfilter {
  visibility: visible;
  opacity: 1;
  
}




/* grid */
.arms {
    width: 100%;
    height: 84%;
    margin: 0 auto;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align:center;
    border-radius:10px;
    padding-bottom:20px;
    top:98px;
    padding-top:20px;
    scroll-behavior:smooth;
}


.grid {
    width: calc(var(--gif-width)*4 + var(--margins)*6);
    height: auto;
    margin: 0 auto;
    border:none;
    margin:auto;
    left:0;
    right:0;
    top:0px;
    bottom:0;
    padding:var(--margins);
    padding-left:calc(var(--margins)*3);
    padding-bottom:20px; 

}


.grid:after {
  content:"";
  display: block;
  clear: both;
}

/* Mobile  */
@media only screen and (max-width: 1200px) {
.arms {
    width: 100%
    margin: 0 auto;
    height: 88%;
    position: absolute;
    top: 98px;
    bottom: 0px;
    right: 0px;
    left: 0px;

}    
  .grid {
    width: calc(var(--gif-width)*3 + var(--margins)*4);
    margin:0 auto;
    position: relative;
    height:auto;
    overflow:hidden;
    border:none;
    background-color:none;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    padding-bottom:30px;
  }
  
}

@media only screen and (max-width: 900px) {
.arms {
    width: 100%
    height: 90%;
    position: absolute;
    margin: 0 auto;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}     
    
  .grid {
    width: calc(var(--gif-width)*2 + var(--margins)*3);
    height:100%;
    margin:0 auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding-bottom:50px;
  }
  
.header {
      display:none;
  } 
  
.line {
      display:none;
  } 
  
 #background {
      top:0;
      height:100%;
  }


}

@media only screen and (max-width: 480px) {
.arms {
    width: 100%;
    margin: 0 auto;
    height: 90%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left:0;
    padding-top:20px;
}     
    
  .grid {
    width: var(--gif-width);
    height:80%;
    margin:0 auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
    position: relative;
    border:none;
  }
  
  .header {
      display:none;
  }
  
 .line {
      display:none;
  }  
  
 #background {
      top:0;
      height:100%;
  }  
  
}

