/* idle worship css */

@font-face {font-family: 'rhesmanisaregular'; src: url('https://dl.dropboxusercontent.com/s/c7urv114bk2vm1n/rhesmanisa.ttf'); font-weight: normal; font-style: normal;} /*also hosted by me so please don't copy/paste for another theme */


/* tumblr controls by cyantists */
iframe.tmblr-iframe {
    z-index:99999999999999!important;
    top:0!important;
    right:0!important;
    opacity:0.4;
    /* delete invert(1) from here */
        filter:invert(var(--controls)) contrast(150%);
        -webkit-filter:invert(var(--controls)) contrast(150%);
        -o-filter:invert(var(--controls)) contrast(150%);
        -moz-filter:invert(var(--controls)) contrast(150%);
        -ms-filter:invert(var(--controls)) contrast(150%);
    /* to here if your blog has a dark background */
    transform:scale(0.65);
    transform-origin:100% 0;
    -webkit-transform:scale(0.65);
    -webkit-transform-origin:100% 0;
    -o-transform:scale(0.65);
    -o-transform-origin:100% 0;
    -moz-transform:scale(0.65);
    -moz-transform-origin:100% 0;
    -ms-transform:scale(0.65);
    -ms-transform-origin:100% 0;}

iframe.tmblr-iframe:hover {
    opacity:0.6!important;}

/* Scrollbar styles */
::-webkit-scrollbar {
width: 5px;
height: 5px;
}

::-webkit-scrollbar-track {
border-radius: 5px;
width: 2px;
background: var(--second-txt-color); 
}

::-webkit-scrollbar-thumb {
background: var(--main-txt-color); 
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: var(--second-txt-color);  
}

::selection {
  color: var(--main-txt-color);
  background-color: var(--accent2);
} 

/* tooltips */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  font-family:'karla';
  font-weight:700;
  font-size:10px;
  text-transform:uppercase;
  color: var(--main-txt-color);
  background-color:var(--second-txt-color);
  text-align:center;
  visibility: hidden;
  height:10px;
  border-radius: 30px;
  padding: 10px 10px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltiptext {
  width: max-content; 
  max-width: 200px;
  top: 130%;
  left:-120%;
  position: absolute;
  z-index: 9999;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* credit tooltips */

.tooltip .tooltiptextcred {
  font-family:'karla';
  font-size:12px;
  color:var(--second-txt-color);
  text-align:center;
  visibility: hidden;
  width: 120px;
  background-color: var(--accent);
  border-radius: 6px;
  padding: 5px 0;
  width: 160px;
  top: 2px;
  right: 145%;
  opacity: 0;
  transition: opacity 1s;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptextcred {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltiptextcred::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent var(--accent);
}

.treetop {
    top:0px;
    padding-bottom:10px;
    width:100%;
    height:auto;
    display:inline-block;
    text-align;center;
    position:relative;
    z-index:1;
}

.treetop h1 {
    color:var(--second-txt-color); /* title color here */
    font-family:'rhesmanisaregular';
    height:80px;
    font-size:50px;
    font-weight:normal;
    margin-top:0px;
}

.treetop p {
    margin-top:-26px;
    min-width:800px;
    padding-bottom:6px;
    height:auto;
}

#trunk img {
    padding-right:4px;
    padding-bottom:2px;
}

/* tw */

.twb {
    position: relative;
    display: inline-block;
    cursor: help;
    
}

.twb::before {
    content: attr(alt); 
    width:var(--gif-width);
    height:var(--gif-height);
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 1px;
    color:var(--main-txt-color);
    font-family:'karla';
    font-size:13px;
        backdrop-filter: blur(10px);
    display: flex;
        align-items: center;
        justify-content: center;
    text-align: center;
    opacity: 1;
    transition: opacity 0.7s ease, transform 0.3s ease; /* hide faster than reveal */
}
.twb:hover::before {
    opacity: 0;
        backdrop-filter: blur(10px);
    transition: opacity 1.0s ease, transform 0.5s ease; /* slower reveal */
}

.tws {
    position: relative;
    display: inline-block;
    cursor: help;
    
}

.tws::before {
    content: attr(alt); 
    width:var(--gif-width);
    height:var(--gif-height);
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 1px;
    color:var(--main-txt-color);
    font-family:'karla';
    font-size:13px;
    display: flex;
        align-items: center;
        justify-content: center;
    text-align: center;
    opacity: 1;
    background-color:var(--tw-background-color);
    transition: opacity 0.7s ease, transform 0.3s ease; /* hide faster than reveal */
}
.tws:hover::before {
    opacity: 0;
    transition: opacity 1.0s ease, transform 0.5s ease; /* slower reveal */
}



/* tw */

.twb {
    position: relative;
    display: inline-block;
    cursor: help;
    
}

.twb::before {
    content: attr(alt); 
    width:var(--gif-width);
    height:var(--gif-height);
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    color:var(--second-txt-color);
    font-family:'karla';
    font-size:13px;
        backdrop-filter: blur(10px);
    display: flex;
        align-items: center;
        justify-content: center;
    text-align: center;
    opacity: 1;
    transition: opacity 0.7s ease, transform 0.3s ease; /* hide faster than reveal */
}
.twb:hover::before {
    opacity: 0;
        backdrop-filter: blur(10px);
    transition: opacity 1.0s ease, transform 0.5s ease; /* slower reveal */
}

.tws {
    position: relative;
    display: inline-block;
    cursor: help;
    
}

.tws::before {
    content: attr(alt); 
    width:var(--gif-width);
    height:var(--gif-height);
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    color:var(--second-txt-color);
    font-family:'karla';
    font-size:13px;
    display: flex;
        align-items: center;
        justify-content: center;
    text-align: center;
    opacity: 1;
    background-color:var(--tw-background-color);
    transition: opacity 0.7s ease, transform 0.3s ease; /* hide faster than reveal */
}
.tws:hover::before {
    opacity: 0;
    transition: opacity 1.0s ease, transform 0.5s ease; /* slower reveal */
}

/* icon tws */
  
.twb-icon {
    position: relative;
    display: inline-block;
    cursor: help;
    
}

.twb-icon::before {
    content: attr(alt); 
    width:calc(var(--icon-width) - 20px );
    height:calc(var(--icon-height) - 20px );
    position: absolute;
    padding:10px;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    color:var(--second-txt-color);
    font-family:'karla';
    font-size:11px;
        backdrop-filter: blur(10px);
    display: flex;
        align-items: center;
        justify-content: center;
    text-align: center;
    opacity: 1;
    transition: opacity 0.7s ease, transform 0.3s ease; /* hide faster than reveal */
}
.twb-icon:hover::before {
    opacity: 0;
        backdrop-filter: blur(10px);
    transition: opacity 1.0s ease, transform 0.5s ease; /* slower reveal */
}

.tws-icon {
    position: relative;
    display: inline-block;
    cursor: help;
    
}

.tws-icon::before {
    content: attr(alt); 
    width:calc(var(--icon-width) - 20px );
    height:calc(var(--icon-height) - 20px );
    position: absolute;
    padding:10px;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    color:var(--second-txt-color);
    font-family:'karla';
    font-size:11px;
    display: flex;
        align-items: center;
        justify-content: center;
    text-align: center;
    opacity: 1;
    background-color:var(--tw-background-color);
    transition: opacity 0.7s ease, transform 0.3s ease; /* hide faster than reveal */
}
.tws-icon:hover::before {
    opacity: 0;
    transition: opacity 1.0s ease, transform 0.5s ease; /* slower reveal */
}  

/* links */    
.leaves{
    margin-top:-16px;
    width:300px;
    display:inline-block;
}

.leaves a {
    width:27px;
    height:22px;
    font-family:'honeybee'; 
    font-size:14px;
    color:var(--main-txt-color);
    background-color:var(--second-txt-color);
    padding:7px 1px 0px 2px;
    border-radius:100%;
    text-align:center;
    display:inline-block;
    z-index:2;
}

.leaves a:hover {
    color:var(--accent);
    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:rgba(0,0,0,0.8);
        backdrop-filter: blur(10px);
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  z-index: 9999999;  
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
    background: var(--tw-background-color);
    width:500px;
    top: 30%;
    left: calc(50% - 250px);
    padding: 14px 20px 20px 20px;
    float: left;
    position: fixed;
    transition: all 3s ease-in-out;
    z-index: 99999;   
}

.popup .close {
  position: absolute;
  top: 0px;
  right: 6px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: var(--accent);
}
.popup .close:hover {
  color: var(--second-txt-color);
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
    

/* pop up */
.fruit {
    padding:0px;
}

 
.fruit p {
    padding-left:20px;
    color:var(--second-txt-color);
    font-family:'karla';
    font-size:12px;
    line-height:20px;
    text-align:left;
} 

.fruit img {
    padding-left:0px;
    padding-right:14px;
    float:left;
    width:245px;
    display:inline-block;
}

.fruit b {
    color:var(--accent);
    font-weight:bold;
}

.fruit h2 {
    color: var(--accent2);
    font-family:'karla';
    font-size: 11px;
    font-weight:bold;
    text-align: center;
    text-transform: uppercase;
    padding-top:40px;
}

/* pop up title */
.twig {
    margin-left:10px; /* change to margin-left:140px; if removing the image!*/
    width:220px;
    height:25px;
    color:var(--main-txt-color);
    background-color:var(--second-txt-color);
    margin-bottom:20px;
    position:fixed;
    display:inline-block;
    clip-path: polygon(6% 0%, 100% 0%, 94% 100%, 0% 100%);
}


.twig h1{
    color:var(--main-txt-color);
    margin-top:3px;
    font-family:'karla';
    font-size:13px;
    line-height:20px;
    font-weight:bold;
    text-transform:uppercase;
    text-align:center;
    
}

.twig h1:before {
    content:'\ea13'; /* change honeybee icon here for pop up title */
    font-family:'honeybee';
    font-size:12px;
    line-height:12px;
    font-weight:normal;
    padding-right:10px;

}

/* pls dont */
.credit {
    padding-top:4px;
    bottom:1%;
    right:1%;
    position:fixed;
    z-index:111;
    font-style: normal;
}   

.credit a {
    color:var(--accent);
} 

.credit a:hover {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;    
    transition: all .3s;
} 
